*.ipch
*.db
C:\LSD\SurveyApp\main\win32_directx12\Debug\*
SurveyApp\main\win32_directx12\Debug\*

*.vsidx
*.opendb
*.obj
*.exe
*.recipe
/SurveyApp/main/win32_directx12/Debug
/SurveyApp/main/.vs/imgui_examples/v17/*
/SurveyApp/main/win32_directx12/imgui.ini
